<br>

<img src="./image/Logo/logo_elia_group.png" width = 200>

<br>

# Python for Data Wrangling
<br> 

## Intro to Pandas

Welcome back! In this section you will learn about one of the most important packages for data scientists: Pandas. Pandas is a [package](https://data36.com/python-import-built-in-modules-data-science/) in Python used for data formatting, analysis and manipulation. It helps you to deal with 2-D table-like data structures, which is what business people and other stakeholders are used to seeing.<br> 

Pandas gives you all the tools to..
- **clean up** and organize your data (i.e. resampling, filling missing values)
- "**automate the boring stuff**" and quickly add value to any team
- work with other packages and libraries like `matplotlib` or `Scikit-Learn`
- actually make sense of your data set!

The cool thing about Pandas is that it allows you way more flexibility compared to Excel. Also, it empowers you to work with massive data sets without getting lost or having trubble to upload it. <br>

Sounds good? Let's do this.

<img src="./image/Icons/Icon_2019_WEB_progression.png">

### When to use Pandas

Maybe you already have an idea when Pandas comes in handy. The following figuere shows you the entire data science pipeline. Can you spot Pandas?

<br>

<img src= "./image/ds_path.png">

<br>

[source](https://medium.com/dunder-data/how-to-learn-pandas-108905ab4955)

### Importing Pandas

As being said, Pandas gives you a great way to deal with 2-D data structures (like SQL or Excel tables) in Python, which isn't "native" to the language. That's why you have to `import` the package.  By `import`-ing the package, you just allow the current .py or .ipynb file you're working on to use the functionality of the package. Additionally, shortening pandas to `pd` is common. <br>

In case, you cannot import pandas, you need to install it by `pip install pandas`. Pip is a package installer that helps you installing new libraries to your working environment.

In [1]:
import pandas as pd

In [2]:
#check for the current version like this 
pd.__version__

'1.1.1'

### Additional Data Types in Pandas

Let's recap the datatypes you are already familiar with:

In [3]:
float(16)

16.0

In [4]:
int(16)

16

In [5]:
str(16)

'16'

In [6]:
bool(16)

True

In [8]:
list([1,2,3])

[1, 2, 3]

When working with Pandas, you will make use of additional datatypes: 

- **pd.Series**:
    - 1-D data structure; single columns.

- **pd.DataFrame**:
    - 2-D data structure (better known as a table w/ named columns & numbered rows).
    
Pandas adds those two more datatypes to the ones that are native to Python. <br>
In this training, you will mainly **focus on DataFrames**, since they are super important in data science (you cannot train a model with only 1 single array of data).

### Series

Per definition, Pandas series are one-dimensional data structures which can hold data such as strings, integers and other Python objects. Just like a column in a table. In Python, a Pandas series can be easily created using `pandas.Series()`. 
<br>

Take a look at the following example:

In [3]:
import pandas as pd

In [4]:
grid_load = [1182.06, 1067.81, 7538.02]

grid_load_series = pd.Series(grid_load)

In [22]:
print(grid_load_series)

0    1182.06
1    1067.81
2    7538.02
dtype: float64

In comparison, this is how a list looks like:

In [23]:
print(grid_load)

[1182.06, 1067.81, 7538.02]

You can access each item of a Series by using its index:

In [24]:
grid_load_series[0]

1182.06

Or create even new indexes:

In [20]:
grid_load_index = pd.Series(grid_load, index = ["Jan", "Feb", "March"])

In [21]:
grid_load_index

Jan      1182.06
Feb      1067.81
March    7538.02
dtype: float64

### DataFrames

So, the first question you probably ask yourself is "What is a Data Frame made of?". Again, a dataframe is like a 2D data structure and therefore consists of rows and columns. Let's create a Dataframe from a list of lists and check its components.

In [13]:
list_of_lists = [["Wallonia", 4339.61],["Flanders",1536.84],["Flemish-Brabant",514.58]]
list_of_lists

[['Wallonia', 4339.61], ['Flanders', 1536.84], ['Flemish-Brabant', 514.58]]

In [23]:
df = pd.DataFrame(list_of_lists,columns = ["Region", "Monitored_Capacity"])
df

            Region  Monitored_Capacity
0         Wallonia             4339.61
1         Flanders             1536.84
2  Flemish-Brabant              514.58

See, with `pd.DataFrame` you can easily create a Data Frame from a list of lists or dictionaries. Let's have a look at the different components:

In [24]:
df.columns

Index(['Region', 'Monitored_Capacity'], dtype='object')

In [25]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [27]:
df.values[0]

array(['Wallonia', 4339.61], dtype=object)

## Pandas for Data Understanding and Analysis

### Importing a Data Frame

Let's have a look at a way bigger data set. Therefore, you will use the original dataset of photovoltaic power production estimation and forecast on Belgian grid. This data set is from the [Elia Open Source API.]("https://opendata.elia.be/explore/dataset/ods087/information/") But no worries, the data set is already downloaded into your data folder. <br>

- 1. First, use the `read_csv` function to load your data from a csv file into a DataFrame:

In [37]:
#since the csv is separated by a ; this has to be clarified in the read_csv function
pv_power = pd.read_csv("./data/energy/ods087.csv", sep = ';')

- 2. Second, quickly look at your data

To get a first overview of your data, there are several things you can do. `dataframe_name.head()` shows the first n rows (5 by default) in order (imported!). This is important as it is not sorted. So the first row you see may not be the "actual" first row, or the first row you expect to see.

In [38]:
pv_power.head()

,Datetime,Resolution code,Region,Measured & upscaled,Most recent forecast,Day Ahead 11AM Forecast,Day-ahead 6PM forecast,Week-ahead forecast,Monitored capacity,Load factor
0,2022-06-22T23:45:00+02:00,PT15M,Flanders,0.0,0.0,0.0,0.0,0.0,4339.61,0.0
1,2022-06-22T23:45:00+02:00,PT15M,Wallonia,0.0,0.0,0.0,0.0,0.0,1536.84,0.0
2,2022-06-22T23:45:00+02:00,PT15M,Limburg,0.0,0.0,0.0,0.0,0.0,624.64,0.0
3,2022-06-22T23:45:00+02:00,PT15M,Flemish-Brabant,0.0,0.0,0.0,0.0,0.0,514.58,0.0
4,2022-06-22T23:45:00+02:00,PT15M,Walloon-Brabant,0.0,0.0,0.0,0.0,0.0,122.48,0.0

If you, for instance, would like to see the first 10 rows, you need to set n to 10:

In [40]:
pv_power.head(n=10)

,Datetime,Resolution code,Region,Measured & upscaled,Most recent forecast,Day Ahead 11AM Forecast,Day-ahead 6PM forecast,Week-ahead forecast,Monitored capacity,Load factor
0,2022-06-22T23:45:00+02:00,PT15M,Flanders,0.0,0.0,0.0,0.0,0.0,4339.61,0.0
1,2022-06-22T23:45:00+02:00,PT15M,Wallonia,0.0,0.0,0.0,0.0,0.0,1536.84,0.0
2,2022-06-22T23:45:00+02:00,PT15M,Limburg,0.0,0.0,0.0,0.0,0.0,624.64,0.0
3,2022-06-22T23:45:00+02:00,PT15M,Flemish-Brabant,0.0,0.0,0.0,0.0,0.0,514.58,0.0
4,2022-06-22T23:45:00+02:00,PT15M,Walloon-Brabant,0.0,0.0,0.0,0.0,0.0,122.48,0.0
5,2022-06-22T23:45:00+02:00,PT15M,Hainaut,0.0,0.0,0.0,0.0,0.0,431.13,0.0
6,2022-06-22T23:45:00+02:00,PT15M,Brussels,0.0,0.0,0.0,0.0,0.0,128.47,0.0
7,2022-06-22T23:45:00+02:00,PT15M,Antwerp,0.0,0.0,0.0,0.0,0.0,1129.31,0.0
8,2022-06-22T23:45:00+02:00,PT15M,Liège,0.0,0.0,0.0,0.0,0.0,634.93,0.0
9,2022-06-22T23:45:00+02:00,PT15M,West-Flanders,0.0,0.0,0.0,0.0,0.0,944.04,0.0

You can also look at the **last** n rows. `dataframe_name.tail()` shows last n rows in order of imported (below we limit it to three):

In [43]:
pv_power.tail(n=3)

,Datetime,Resolution code,Region,Measured & upscaled,Most recent forecast,Day Ahead 11AM Forecast,Day-ahead 6PM forecast,Week-ahead forecast,Monitored capacity,Load factor
10749,2022-06-15T00:00:00+02:00,PT15M,Antwerp,0.0,0.0,0.0,0.0,0.0,1129.31,0.0
10750,2022-06-15T00:00:00+02:00,PT15M,Flemish-Brabant,0.0,0.0,0.0,0.0,0.0,514.58,0.0
10751,2022-06-15T00:00:00+02:00,PT15M,Luxembourg,0.0,0.0,0.0,0.0,0.0,153.14,0.0

If you would like to know **how many rows or columns** your data set has, you can apply `dataframe_name.shape`:

In [44]:
#The first entry stands for the number of rows, the second entry for the number of columns
pv_power.shape

(10752, 10)

In [45]:
rows = pv_power.shape[0] 
rows

10752

You can also quickly look at the data types of each of our columns:
- each column has a single data type
- pandas has figured out some of our column's data types for us

In [48]:
pv_power.dtypes

Datetime                    object
Resolution code             object
Region                      object
Measured & upscaled        float64
Most recent forecast       float64
Day Ahead 11AM Forecast    float64
Day-ahead 6PM forecast     float64
Week-ahead forecast        float64
Monitored capacity         float64
Load factor                float64
dtype: object

- 3. Third, get basic statistics
    * Also pretty useful is `dataframe_name.describe()` - a method which generates summary statistics of the columns:

In [49]:
pv_power.describe()

,Measured & upscaled,Most recent forecast,Day Ahead 11AM Forecast,Day-ahead 6PM forecast,Week-ahead forecast,Monitored capacity,Load factor
count,10752.000000,10752.000000,10752.00000,10752.000000,10752.000000,10752.000000,10752.000000
mean,11.506617,258.958466,86.05619,44.592186,184.330829,1277.591429,0.944686
std,133.146356,590.832202,406.77067,301.471405,458.736165,1672.876738,6.647404
min,0.000000,0.000000,0.00000,0.000000,0.000000,122.480000,0.000000
25%,0.000000,0.000000,0.00000,0.000000,0.000000,195.150000,0.000000
50%,0.000000,43.210000,0.00000,0.000000,16.455000,629.785000,0.000000
75%,0.000000,242.337500,0.00000,0.000000,148.660000,1129.310000,0.000000
max,3893.500000,4373.190000,4502.88000,4522.980000,3639.020000,6004.920000,68.750000

### Exercise
<br> 

Alright, let's practise! &#128512;

1. Get the last 25 rows of the Data Frame `pv_power`
2. Get the number of columns in the DataFrame. Save this as a new variable called `columns`. Print the result.