<br>

<img src="./image/Logo/logo_elia_group.png" width = 200>

<br>

# Initial Data Exploration 
<br> 

In the following subsection you will learn how to select data and how to slice your data set. Anyone who has worked with data knows how important it is to be able to select particular columns or rows or to slice your data into specific pieces. In data science, slicing means to precisely select certain data snippets by row or column. In order to work with Pandas and the previous data set, you have to import them again.

In [1]:
import pandas as pd

In [2]:
pv_power = pd.read_csv("./data/energy/ods032.csv", sep = ';')

## Selecting by column name
There are actually two ways to select data by column name. <br>

1. with quotes

In [23]:
pv_power['Region']

0                    Liège
1                  Hainaut
2          Flemish-Brabant
3            East-Flanders
4                    Namur
                ...
1569882              Namur
1569883    Walloon-Brabant
1569884            Antwerp
1569885            Belgium
1569886           Wallonia
Name: Region, Length: 1569887, dtype: object

2. with a dot as separator (NOTE - ONLY works when column names have no spaces!)

In [24]:
pv_power.Region

0                    Liège
1                  Hainaut
2          Flemish-Brabant
3            East-Flanders
4                    Namur
                ...
1569882              Namur
1569883    Walloon-Brabant
1569884            Antwerp
1569885            Belgium
1569886           Wallonia
Name: Region, Length: 1569887, dtype: object


You want to select two columns and just want to see the first three rows? No problem! You can also concatenate commands in Pandas. <br> 
Notice, that if you want to select two columns of your dataframe, you need to pass them as a list: `df_name[["column_1", "column_2"]]`.

In [25]:
pv_power[["Region", "Monitored capacity"]].head(n=3)

            Region  Monitored capacity
0            Liège             634.933
1          Hainaut             431.127
2  Flemish-Brabant             514.584

### Exercise
1. Check the column names of the dataframe again
2. Select the columns "Resolution code" and "Datetime"
3. Display the first 5 rows of the selected columns

## Slicing - Precise Selection by Row and Column
- `df.loc` gets rows (or columns) with particular labels from the index.
- `df.iloc` gets rows (or columns) at particular positions in the index (so it only takes integers).

<br>

<div class="alert alert-block alert-warning">

&#128161; **When using `loc` and `iloc`, the row is ALWAYS 1st and column is ALWAYS second!!**

[start_row : end_row, start_column : end_column] <br>
    
</div>
    
<br>

For example, if you want to select the first 5 rows of the `pv_power` dataframe with iloc you use the following syntax:

In [27]:
pv_power.iloc[:5,:]

,Datetime,Resolution code,Region,Measured & Upscaled,Most recent forecast,Day Ahead 11AM forecast,Day-ahead 6PM forecast,Week-ahead forecast,Monitored capacity,Load factor
0,2022-06-21T23:45:00+02:00,PT15M,Liège,NaN,0.0,0.0,0.0,0.0,634.933,0.0
1,2022-06-21T23:45:00+02:00,PT15M,Hainaut,NaN,0.0,0.0,0.0,0.0,431.127,0.0
2,2022-06-21T23:45:00+02:00,PT15M,Flemish-Brabant,NaN,0.0,0.0,0.0,0.0,514.584,0.0
3,2022-06-21T23:45:00+02:00,PT15M,East-Flanders,NaN,0.0,0.0,0.0,0.0,1127.039,0.0
4,2022-06-21T23:45:00+02:00,PT15M,Namur,NaN,0.0,0.0,0.0,0.0,195.154,0.0

Notice, that if you put nothing for `start_column` and `end_column` behind the comma and only a `:` python selects everything. So in the example above, python selected the first five rows and all columns of the data set.

Let's do the same thing with the `loc` syntax instead of `iloc` and check out what happens:

In [28]:
pv_power.loc[:5,:]

,Datetime,Resolution code,Region,Measured & Upscaled,Most recent forecast,Day Ahead 11AM forecast,Day-ahead 6PM forecast,Week-ahead forecast,Monitored capacity,Load factor
0,2022-06-21T23:45:00+02:00,PT15M,Liège,NaN,0.0,0.0,0.0,0.0,634.933,0.0
1,2022-06-21T23:45:00+02:00,PT15M,Hainaut,NaN,0.0,0.0,0.0,0.0,431.127,0.0
2,2022-06-21T23:45:00+02:00,PT15M,Flemish-Brabant,NaN,0.0,0.0,0.0,0.0,514.584,0.0
3,2022-06-21T23:45:00+02:00,PT15M,East-Flanders,NaN,0.0,0.0,0.0,0.0,1127.039,0.0
4,2022-06-21T23:45:00+02:00,PT15M,Namur,NaN,0.0,0.0,0.0,0.0,195.154,0.0
5,2022-06-21T23:45:00+02:00,PT15M,Limburg,NaN,0.0,0.0,0.0,0.0,624.636,0.0

<br>
Take a break to spot the differences &#9749;
<br>

Although the syntax looks almost identical, there is a huge difference between these two commands: 

- **iloc** works **positionally** with numbers (in our case the index)
- **loc** searches for **labels**

What does this mean? In the first trial, you used .iloc and selected the first five rows (from index 0 until index 4). In the second one, you basically said "I want all the rows untill **label** 5". Which results in 6 rows, from index 0 until index 5.

<br>

<div class="alert alert-block alert-warning">

&#128161;
**If you want to select multiple rows/columns that are not consecutive, you need to pass a list with the respectives names/indexes.** 
    
**loc:** [["row1", "row5", "row8"], ["column2", "column5", "column6"]]
    
**iloc:** [[1, 5, 8], [2, 5, 6]] 
</div>
    
<br>

Let's play with them. Check out the following examples:

In [39]:
pv_power.iloc[2:5,:2] #don't forget, the first row has the index 0!

                    Datetime Resolution code
2  2022-06-21T23:45:00+02:00           PT15M
3  2022-06-21T23:45:00+02:00           PT15M
4  2022-06-21T23:45:00+02:00           PT15M

In [32]:
pv_power.loc[2:5, :"Region"]

                    Datetime Resolution code           Region
2  2022-06-21T23:45:00+02:00           PT15M  Flemish-Brabant
3  2022-06-21T23:45:00+02:00           PT15M    East-Flanders
4  2022-06-21T23:45:00+02:00           PT15M            Namur
5  2022-06-21T23:45:00+02:00           PT15M          Limburg

### Exercise

1. Select the first 7 rows, and first 2 columns of `pv_power`, positionally. 
2. Select rows 10, 15, and 30, and the columns `Resolution code` and `Region`.

&#9200; Still time left? Try this one:

3. Select the first 5 rows and columns `Datetime` and `Monitored capacity` of the `pv_power` table.