<br>

<img src="../image/Logo/logo_elia_group.png" width = 200>

<br>

# Answers for Chapter 10-31

In the following you will find all the answers to the exercises of the Python Training for Beginners by the Elio Group. Have fun!

## (12) Fundamental building blocks of Python

### Exercise

So what we are basically using to get to our plot are different data types and functions. Can you guess... 

1. what kind of data is stored in the column `Resolution code`?
2. whether creating a plot is a function or a data type?
3. what the difference is between the data stored under `Monitored Capacity` and `Region`?

### Solution

1. Right, `Resolution Code` consists of characters that look like a text. You will later learn that this data type is called String
2. Creating a plot is a function. The function takes input data such as `Datetime` and the `Measured Capacity` and creates a plot as an output. 
3. Data stored in `Monitored Capacity` is numeric with decimal places, whereas data stored under `Region` is text data.

## (13) Data Types

### Exercise
Now it's your turn: 
- Divide 10 by 2 and add 3. Run the code.

In [2]:
10 / 2 + 3

8.0

- First, multiply 10 times 5. Second, convert the answer to a float value. Run the code.

In [5]:
float(10 * 5)

50.0

### Exercise
- Print a string of your name.

In [8]:
"Dagobert Duck"

'Dagobert Duck'

In [11]:
'Dagobert Duck'

'Dagobert Duck'

### Exercise
- Make a list called `months` that has 12 elements, one for each month.
- Select the month of March
- Select the months Jan, March, May

In [15]:
months = ["jan", "feb", "march", "april", "may", "june", "july", "august", "sep", "oct", "nov", "dec"]

In [36]:
months[2]

'march'

In [ ]:
months[0:5:2]

### Exercise:
- Add a key to the dictionary called `region`.
- Set the value of this key to `Brussels`.

In [19]:
energy = {"type": "photovoltaic",
        "renewable": True,
        "year": 2022,
        "capacity_MW": [127.57, 425.21, 936.95]}

In [20]:
energy["region"] = "Brussels"

In [23]:
energy

{'type': 'photovoltaic',
 'renewable': True,
 'year': 2022,
 'capacity_MW': [127.57, 425.21, 936.95],
 'region': 'Brussels'}

# (14) Working with data types

### Exercise
- Make a variable called `my_name` that points to your name
- Which data type are you using?

In [37]:
my_name = "Dagobert Duck"

In [38]:
#data type = String

### Exercise
- Create two variables, called a and b and assert them the values 12 and 3
- Write code that adds these 2 numbers together, and if the sum is > 10, print "Sum is greater than 10", otherwise print "Sum is less than 10"

In [28]:
a = 12
b = 3

if a + b > 10:
    print("Sum is greater than 10")
    
else: 
    print("Sum is less than 10")

Sum is greater than 10

### Exercise 

Great! Now it's your turn. <br>

- Write a for loop that goes through a list of months, named `months`
- and prints each of the months in your list

In [29]:
months = ["jan", "feb", "march", "april", "may", "june", "july", "august", "sep", "oct", "nov", "dec"]

In [32]:
for item in months: 
    print(item)

jan
feb
march
april
may
june
july
august
sep
oct
nov
dec

## (30) What are Functions?

### Exercise
- Update the function `subtracter()` to take a third number to subtract

In [33]:
def subtracter(first, second, third):
    return first - second - third

In [35]:
#test the function
subtracter(10,3,5)

2

## (31) Functions

## Exercise

1. Write a function called `name` that prints out your name. Call the function to test it.

In [6]:
my_name = "Mara Musterfrau"

def name(test_name):
    name = print(test_name)
    return name

In [7]:
name(my_name)

Mara Musterfrau

2. Write a function where you can multiply 2 numbers together, and add any number to it. Therefore...
* name the function `multiply_adder`
* handover three parameters
* create a variable that multiplies two of them and
* adds the third variable to the product variable 
* return the result

Call the function to test it.

In [4]:
def multiply_adder(a,b,c):
    result = a*b+c
    return result

In [8]:
multiply_adder(1,3,5)

8

3. Write a function to sum all the numbers in a list.
* name the function `list_adder`
* handover a list as parameters
* initiate a variable called `answer` and assign it to 0
* write a `for loop` that iterates through each item and adds it to your variable `answer`
* return the answer variable

Call the function to test it.

In [12]:
def list_adder(test_list):
    answer = 0
    for item in test_list: 
        answer += item 
    return answer

In [14]:
test = [1,2,3,4,5,6]
list_adder(test)

21

### &#9200; Advanced Exercises

1. Write a function to reverse a string. Sample String : "1234abcd"
2. Write a function to multiply all the numbers in a list. Sample List : [8, 2, 3, -1, 7]
3. Write a function to check whether a number is in a given range.
4. Write a function that takes a list and returns a new list with unique elements of the first list. Sample List : [1,2,3,3,3,3,4,5] Unique List : [1, 2, 3, 4, 5]

In [15]:
#1. Task Solution

def rev_str(test_str): 
    result = test_str[::-1]
    return result

In [16]:
#1. Task Test

str_example = "1234abcd"
rev_str(str_example)

'dcba4321'

In [19]:
# 2. Task Solution

def mult_list(test_list): 
    answer = 1
    for i in test_list: 
        answer *= i 
    return answer

In [20]:
# 2. Task Test

sample_list = [8,2,3,-1,7]
mult_list(sample_list)

-336

In [24]:
# 3. Task Solution

def range_check(lower, upper, number):
        if number < lower:
            answer = print("Number is lower than range")
        elif number > upper: 
            answer = print("Number is upper than range")
        else:
            answer = print("Number is in range")
        return answer

In [25]:
# 3. Task Test

range_check(1,10,3)

Number is in range

In [35]:
# 4. Task Solution

def un_list(test_list): 
    new_list = []
    for item in test_list:
        if item not in new_list: 
            new_list.append(item)
    return new_list

In [36]:
# 4. Task Test 

sample_list = [1,2,3,3,3,3,4,5]

un_list(sample_list)

[1, 2, 3, 4, 5]