<br>

<img src="./image/Logo/logo_elia_group.png" width = 200>

<br>

## How to work with the Elia open data API in Python
<br>

Did you ever ask yourself how your weather app predicts tomorrow's forecast? The answer is, it gets the data through a so-called Application Programming Interface, an API. APIs are commonly used to access databases that are made public. It takes input, applies a set of rules and gives you an output. At Elia Group, we have a similar [API](https://opendata.elia.be/pages/home/) where you have open access to all our public grid data, including power generation, load, balancing, transmission and congestion. <br>

This is how the Elia API looks like:

<img src="./image/Elia_API.png" width = 700>

Let's import some cool data directly from Elia! To do so, you will need two packages: requests and pandas. For now, you don't need to worry about understanding each line of code. This Notebook is just for you to see that you can get data from an API directly and that you will be able to come back here and get the corresponding code.

In [29]:
import requests
import pandas as pd

You are going to work with the following data [Load in the Elia grid](https://opendata.elia.be/explore/dataset/ods003/information/) with the dataset identifier **ods003**. Take a look at the parameters and the data itself. It gives you the Elia Grid Load with its Resolution Code and Datetime.

In [30]:
start_date ="2022-07-01"
end_date = "2022-07-06"
dataset= "ods003"
url = f"https://opendata.elia.be/api/v2/catalog/datasets/{dataset}/exports/"
json_string = f"json?where=datetime in [date'{start_date}' .. date'{end_date}']"
response = requests.get(url = url + json_string)

In [31]:
# calling the Elia Open Data API
df = pd.DataFrame(response.json())

In [32]:
df

                      datetime resolutioncode  eliagridload
0    2022-07-06T19:00:00+00:00          PT15M      8115.431
1    2022-07-06T18:15:00+00:00          PT15M      8117.432
2    2022-07-06T18:00:00+00:00          PT15M      8082.027
3    2022-07-06T17:15:00+00:00          PT15M      7736.822
4    2022-07-06T16:30:00+00:00          PT15M      7526.202
..                         ...            ...           ...
571  2022-07-01T05:00:00+00:00          PT15M      7756.761
572  2022-07-01T02:30:00+00:00          PT15M      6910.305
573  2022-07-01T02:00:00+00:00          PT15M      6828.961
574  2022-07-01T01:00:00+00:00          PT15M      6822.075
575  2022-07-01T00:00:00+00:00          PT15M      6995.804

[576 rows x 3 columns]

In [33]:
df["datetime"] = pd.to_datetime(df["datetime"]).dt.tz_localize(None)

In [34]:
df

               datetime resolutioncode  eliagridload
0   2022-07-06 19:00:00          PT15M      8115.431
1   2022-07-06 18:15:00          PT15M      8117.432
2   2022-07-06 18:00:00          PT15M      8082.027
3   2022-07-06 17:15:00          PT15M      7736.822
4   2022-07-06 16:30:00          PT15M      7526.202
..                  ...            ...           ...
571 2022-07-01 05:00:00          PT15M      7756.761
572 2022-07-01 02:30:00          PT15M      6910.305
573 2022-07-01 02:00:00          PT15M      6828.961
574 2022-07-01 01:00:00          PT15M      6822.075
575 2022-07-01 00:00:00          PT15M      6995.804

[576 rows x 3 columns]

Well done! &#128526;